{% extends 'admin_site/layout.html' %}
{% block 'main' %}
{% load static %}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add New Generic Drug</h4>
            <p class="card-description">
                Use the form below to register a new generic drug.
            </p>
            {% include 'admin_site/partials/error.html' %}

            <form class="forms-sample" method="post" action="{% url 'generic_drug_create' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            {{ form.generic_name }}
                            <label for="id_generic_name">Generic Name<span style="color:red"><b>*</b></span></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            {{ form.category }}
                            <label for="id_category">Category</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            {{ form.atc_code }}
                            <label for="id_atc_code">ATC Code</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check form-switch mb-3 mt-3">
                            {{ form.is_prescription_only }}
                            <label class="form-check-label" for="id_is_prescription_only">Prescription Only</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            {{ form.status }}
                            <label for="id_status">Status</label>
                        </div>
                    </div>
                </div>
                
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <a href="{% url 'generic_drug_index' %}" class="btn btn-light">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
