{% extends 'admin_site/layout.html' %}
{% block 'main' %}
{% load static %}

<div class="col-12">
    <div class="card recent-sales overflow-auto">
        <div class="filter px-2">
            <a title="Add Specialization Group" class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <button class="btn btn-sm btn-info text-white" data-bs-toggle="modal" data-bs-target="#specializationGroupHelperModal"><b>Helper</b></button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                    <h6>Action</h6>
                </li>
                <li><a class="dropdown-item" href="#">
                    <button title="Add Specialization Group" type="button" style="width:100%" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered">Add Specialization Group</button>
                </a></li>
            </ul>
        </div>

        <div class="card-body">
            <h5 class="card-title">List of Specialization Groups</h5>
            {% include 'admin_site/partials/error.html' %}
            <table class="table table-borderless datatable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Group Name</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for group in specialization_group_list %}
                <tr>
                    <th scope="row"><a href="#">{{ forloop.counter }}</a></th>
                    <td title="created at {{ group.created_at|date }}">{{ group.name|title }}</td>
                    <td class="text-center">
                        <button title="Edit Specialization Group" type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit{{ forloop.counter }}"><i class="bi bi-pencil-square"></i></button>
                        <a title="Delete Specialization Group" href="{% url 'specialization_group_delete' group.id %}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if not specialization_group_list %}
                 <h3 class="text-center">No Specialization Group Added Yet</h3>
            {% endif %}
        </div>
    </div>
</div>

<div class="modal fade" id="specializationGroupHelperModal" tabindex="-1" style="font-family: sans-serif">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>Specialization Group Helper</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="card-description">
                    Specialization groups are used to categorize specializations. This can be useful for sharing properties like consultation fees or for better organization.
                </p>
                <div class="alert alert-info">
                    <strong>Tip:</strong> Specializations under the same group can be managed together.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Got it</button>
            </div>
        </div>
    </div>
</div>

<form method="POST" action="{% url 'specialization_group_create' %}">
    {% csrf_token %}
    <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b>Add Specialization Group</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating">
                        {{ form.name }}
                        <label for="floatingName">Group Name<span style="color:red"><b>*</b></span></label>
                    </div><br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% for group in specialization_group_list %}
<form method="POST" action="{% url 'specialization_group_update' group.id %}">
    {% csrf_token %}
    <div class="modal fade" id="edit{{ forloop.counter }}" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b>Edit Specialization Group</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating">
                        <input type="text" name="name" value="{{ group.name|lower }}" autocomplete="off" required class="form-control">
                        <label for="floatingName">Group Name<span style="color:red"><b>*</b></span></label>
                    </div><br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endfor %}

{% endblock %}