{% extends 'admin_site/layout.html' %}
{% block 'main' %}
{% load static %}

<div class="pagetitle">
    <h1>Confirm Deletion</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Home</a></li>
            <li class="breadcrumb-item">Services</li>
            <li class="breadcrumb-item"><a href="{% url 'service_item_list' %}">Inventory</a></li>
            <li class="breadcrumb-item active">Delete</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-8">
            <div class="card border-danger">
                <div class="card-body">
                    <h5 class="card-title text-danger">Delete Service Item: {{ service_item.name }}</h5>

                    <p>
                        Are you sure you want to delete this item?
                    </p>
                    <p class="fw-bold">
                        This action is irreversible. All associated data, including stock history, will be permanently removed.
                    </p>

                    <form method="post">
                        {% csrf_token %}
                        <div class="text-end">
                            <a href="{% url 'service_item_detail' service_item.pk %}" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-danger">Yes, Delete Item</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
