{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center mt-4">

    {# PREVIOUS BUTTON #}
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}

    {# PAGE NUMBER LINKS #}
    {% for num in paginator.page_range %}
      {% if page_obj.number == num %}
        {# Current Page #}
        <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span></li>

      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        {# Nearby Pages #}
        <li class="page-item"><a class="page-link" href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a></li>
      
      {% elif num == paginator.page_range|first or num == paginator.page_range|last %}
         {# Ellipsis and First/Last Page #}
        {% if num == paginator.page_range|first and page_obj.number > 4 %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a></li>
            <li class="page-item disabled"><span class="page-link">...</span></li>
        {% elif num == paginator.page_range|last and page_obj.number < paginator.num_pages|add:'-3' %}
            <li class="page-item disabled"><span class="page-link">...</span></li>
            <li class="page-item"><a class="page-link" href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}

    {# NEXT BUTTON #}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}