{% extends 'admin_site/layout.html' %}
{% block 'main' %}
{% load static %}

<div class="col-12">
    <div class="card recent-sales overflow-auto">
        <div class="filter px-2">
            <a title="Add Specialization" class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <button class="btn btn-sm btn-info text-white" data-bs-toggle="modal" data-bs-target="#specializationHelperModal"><b>Helper</b></button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                    <h6>Action</h6>
                </li>
                <li><a class="dropdown-item" href="#">
                    <button title="Add Specialization" type="button" style="width:100%" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered">Add Specialization</button>
                </a></li>
            </ul>
        </div>

        <div class="card-body">
            <h5 class="card-title">List of Specializations</h5>
            {% include 'admin_site/partials/error.html' %}
            <table class="table table-borderless datatable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Specialization</th>
                    <th scope="col">Group</th>
                    <th scope="col">Code</th>
                    <th scope="col">Base Consultation Fee (₦)</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for specialization in specialization_list %}
                <tr>
                    <th scope="row"><a href="#">{{ forloop.counter }}</a></th>
                    <td title="created at {{ specialization.created_at|date }}">{{ specialization.name|title }}</td>
                    <td>
                        {% if specialization.group %}
                            {{ specialization.group.name|title }}
                        {% else %}
                            <span class="text-muted">N/A</span>
                        {% endif %}
                    </td>
                    <td>{{ specialization.code|upper }}</td>
                    <td>{{ specialization.base_consultation_fee|floatformat:2 }}</td>
                    <td class="text-center">
                        <a title="Specialization Detail" href="{% url 'specialization_detail' specialization.id %}" class="btn btn-primary"><i class="bi bi-eye"></i></a>
                        <button title="Edit Specialization" type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit{{ forloop.counter }}"><i class="bi bi-pencil-square"></i></button>
                        <a title="Delete Specialization" href="{% url 'specialization_delete' specialization.id %}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if not specialization_list %}
                 <h3 class="text-center">No Specialization Added Yet</h3>
            {% endif %}
        </div>
    </div>
</div>

<div class="modal fade" id="specializationHelperModal" tabindex="-1" style="font-family: sans-serif">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>Specialization Helper</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="card-description">
                    Specializations are used to define the different medical fields of expertise available. Each specialization has a name, a unique code, and a base consultation fee.
                </p>
                <p class="card-description">
                    A <strong>group</strong> allows you to link several specializations together. For example, "Surgical" could be a group for Orthopedics, General Surgery, and Neurosurgery.
                </p>

                <div class="alert alert-info">
                    <strong>Tip:</strong> The code is automatically generated from the first three letters of the name if not provided.
                </div>

                <div class="alert alert-warning">
                    <strong>Note:</strong> The base consultation fee is the default price for a consultation in this specialization.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Got it</button>
            </div>
        </div>
    </div>
</div>

<form method="POST" action="{% url 'specialization_create' %}">
    {% csrf_token %}
    <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b>Add Specialization</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating">
                        {{ form.name }}
                        <label for="floatingName">Specialization Name<span style="color:red"><b>*</b></span></label>
                    </div><br />

                    <div class="form-floating">
                        {{ form.group }}
                        <label for="floatingGroup">Group</label>
                    </div><br />

                    <div class="form-floating">
                        {{ form.code }}
                        <label for="floatingCode">Specialization Code</label>
                    </div><br />

                    <div class="form-floating">
                        {{ form.base_consultation_fee }}
                        <label for="floatingFee">Base Consultation Fee<span style="color:red"><b>*</b></span></label>
                    </div><br />

                    <div class="form-floating">
                        {{ form.description }}
                        <label for="floatingDescription">Description</label>
                    </div><br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% for specialization in specialization_list %}
<form method="POST" action="{% url 'specialization_edit' specialization.id %}">
    {% csrf_token %}
    <div class="modal fade" id="edit{{ forloop.counter }}" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b>Edit Specialization</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating">
                        <input type="text" name="name" value="{{ specialization.name|lower }}" autocomplete="off" required class="form-control">
                        <label for="floatingName">Specialization Name<span style="color:red"><b>*</b></span></label>
                    </div><br />

                    <div class="form-floating">
                        <select name="group" class="form-select">
                            <option value="">---------</option> {# Allows setting the group to None #}
                            {% for group in specialization_group_list %}
                                <option value="{{ group.id }}" {% if specialization.group.id == group.id %}selected{% endif %}>
                                    {{ group.name|title }}
                                </option>
                            {% endfor %}
                        </select>
                        <label for="floatingGroup">Group</label>
                    </div><br />

                    <div class="form-floating">
                        <input type="text" name="code" value="{{ specialization.code|lower }}" autocomplete="off" class="form-control">
                        <label for="floatingCode">Specialization Code</label>
                    </div><br />

                    <div class="form-floating">
                        <input type="number" name="base_consultation_fee" value="{{ specialization.base_consultation_fee }}" autocomplete="off" step="0.01" required class="form-control">
                        <label for="floatingFee">Base Consultation Fee<span style="color:red"><b>*</b></span></label>
                    </div><br />

                    <div class="form-floating">
                        <textarea name="description" class="form-control">{% if specialization.description %}{{ specialization.description|lower }}{% endif %}</textarea>
                        <label for="floatingDescription">Description</label>
                    </div><br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endfor %}

{% endblock %}