{% extends 'admin_site/layout.html' %}
{% load static %}
{% block 'main' %}

<form action="" class="row g-3 needs-validation" enctype="multipart/form-data" method="POST" novalidate>
    {% csrf_token %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">STAFF REGISTRATION</h5>
            <p class="card-description">All fields with a red star <span style="color:red"><b>*</b></span> are
                required.</p>
            {% include 'admin_site/partials/error.html' %}


            <!-- Vertical Pills Tabs -->
            <div class="d-flex align-items-start">
                <div aria-orientation="vertical" class="nav flex-column nav-pills me-3" id="v-pills-tab"
                     role="tablist" style="width:150px">
                    <button aria-controls="v-pills-home" aria-selected="true" class="nav-link active"
                            data-bs-target="#v-pills-home" data-bs-toggle="pill" id="v-pills-home-tab" role="tab"
                            type="button">Bio Data
                    </button>
                    <br>
                    <button aria-controls="v-pills-profile" aria-selected="false" class="nav-link"
                            data-bs-target="#v-pills-profile" data-bs-toggle="pill" id="v-pills-profile-tab" role="tab"
                            type="button">Work Data
                    </button>

                    <br>

                    <button aria-controls="v-pills-health" aria-selected="false" class="nav-link"
                            data-bs-target="#v-pills-health" data-bs-toggle="pill" id="v-pills-health-tab"
                            role="tab"
                            type="button">Health
                    </button>
                </div>
                <div class="tab-content" id="v-pills-tabContent" style="width:100%">
                    <div aria-labelledby="v-pills-home-tab" class="tab-pane fade show active" id="v-pills-home"
                         role="tabpanel">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row mb-3">
                                    <div class="form-floating mb-3 col-md-4">
                                        <input name="created_by" type="hidden" value="{{ request.user.id }}"/>
                                        {{form.first_name}}
                                        <label for="floatingInput"> First Name <span
                                                style="color:red"><b>*</b></span></label>
                                        <div class="invalid-tooltip">First Name is required!</div>
                                    </div>
                                    <div class="form-floating mb-3 col-md-4">
                                        {{form.middle_name}}
                                        <label for="floatingPassword">Middle Name</label>
                                    </div>
                                    <div class="form-floating mb-3 col-md-4">
                                        {{form.last_name}}
                                        <label for="floatingPassword">Last Name <span style="color:red">*</span></label>
                                        <div class="invalid-tooltip">last name is required!</div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="form-floating mb-3 col-md-4">
                                        {{form.mobile}}
                                        <label for="floatingInput"> Phone Number <span
                                                style="color:red">*</span></label>
                                        <div class="invalid-tooltip">Phone number is required!</div>
                                    </div>
                                    <div class="form-floating mb-3 col-md-4">
                                        {{form.email}}
                                        <label for="floatingInput">Email</label>
                                    </div>
                                    <div class="form-floating mb-3 col-md-4">
                                        {{form.address}}
                                        <label for="floatingPassword">Address</label>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="form-floating mb-3 col-md-4">
                                        {{form.gender}}
                                        <label for="floatingInput">Gender <span style="color:red">*</span></label>
                                        <div class="invalid-tooltip">Select Gender</div>
                                    </div>

                                    <div class="form-floating mb-3 col-md-4">
                                        <select class="form-control" id="state" name="state">
                                            <option value="">-----------------</option>
                                            {% for state, lga_list in state_list.items %}
                                            <option lga="<option value=''>----------</option>
                  {% for lga in lga_list %}
                  <option value='{{lga|lower}}'>{{lga|upper}}</option>
                  {% endfor %}
                  " value="{{state|lower}}">

                                                {{state|upper}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        <label for="floatingInput">State </label>
                                        <div class="invalid-tooltip">Select State</div>
                                    </div>

                                    <div class="form-floating mb-3 col-md-4">
                                        <select class="form-control" id="lga" name="lga">
                                            <option value="">----------</option>
                                        </select>
                                        <label for="floatingInput">LGA </label>
                                        <div class="invalid-tooltip">Select LGA</div>
                                    </div>
                                    <div class="form-floating mb-3 col-md-4">
                                        {{form.date_of_birth}}
                                        <label for="floatingPassword">Date of Birth</label>
                                    </div>

                                    <div class="form-floating mb-3 col-md-4">
                                        {{form.image}}
                                        <label for="floatingPassword">Image</label>
                                    </div>

                                    <div class="form-floating mb-3 col-md-4">
                                        {{form.religion}}
                                        <label for="floatingPassword">Religion</label>
                                    </div>

                                    <div class="form-floating mb-3 col-md-4">
                                        {{form.marital_status}}
                                        <label for="floatingPassword">Marital Status</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div aria-labelledby="v-pills-profile-tab" class="tab-pane fade" id="v-pills-profile"
                         role="tabpanel">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row mb-3">
                                    <div class="form-floating mb-3 col-md-4">
                                        <select class="form-control" id="id_department" name="department" required>
                                            <option position="<option value=''>----------</option>" value="">
                                                ----------
                                            </option>
                                            {% for department in department_list %}
                                            <option position="<option value=''>----------</option>
                {% for position in department.positions.all %}
                <option value='{{position.id}}'>{{position.name|upper}}</option>
                {% endfor %}
                " value="{{department.id}}">

                                                {{department.name|upper}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        <label for="floatingInput"> Department <span style="color:red">*</span></label>
                                        <div class="invalid-tooltip">Select Department</div>
                                    </div>
                                    <div class="form-floating mb-3 col-md-4">
                                        <select class="form-control" id="id_position" name="position" required>
                                            <option value="">----------</option>
                                        </select>
                                        <label for="floatingPassword">Position <span style="color:red">*</span></label>
                                        <div class="invalid-tooltip">Select Position</div>
                                    </div>

                                    <div class="form-floating mb-3 col-md-4">
                                        {{form.group}}
                                        <label for="floatingPassword">Permission Group <span
                                                style="color:red"></span></label>
                                        <div class="invalid-tooltip">Select Group</div>
                                    </div>

                                    {% if not staff_setting.auto_generate_staff_id %}
                                    <div class="form-floating mb-3 col-md-4">
                                        <input class="form-control" name="staff_id" required type="text">
                                        <label for="floatingPassword">Staff ID</label>
                                    </div>

                                    {% endif %}

                                    <div class="form-floating mb-3 col-md-4">
                                        {{form.employment_date}}
                                        <label for="floatingInput">Employment Date</label>
                                    </div>

                                    <div class="form-floating mb-3 col-md-4">
                                        {{form.cv}}
                                        <label for="floatingPassword">Upload CV</label>
                                    </div>

                                    <div class="form-floating mb-3 col-md-4">
                                        {{form.contract_type}}
                                        <label for="floatingPassword">Contract Type <span
                                                style="color:red"><b>*</b></span></label>
                                    </div>

                                    <div class="form-floating mb-3 col-md-4">
                                        {{form.contract_start_date}}
                                        <label for="floatingPassword">Contract Start Date</label>
                                    </div>

                                    <div class="form-floating mb-3 col-md-4">
                                        {{form.contract_end_date}}
                                        <label for="floatingPassword">Contract End Date</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div aria-labelledby="v-pills-health-tab" class="tab-pane fade" id="v-pills-health"
                         role="tabpanel">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row mb-3">
                                    <div class="form-floating mb-3 col-md-4">
                                        {{form.blood_group}}
                                        <label for="floatingInput"> Blood Group</label>
                                    </div>
                                    <div class="form-floating mb-3 col-md-4">
                                        {{form.genotype}}
                                        <label for="floatingInput"> Genotype</label>
                                    </div>
                                    <div class="form-floating mb-3 col-md-4">
                                        {{form.health_note}}
                                        <label for="floatingPassword"> Health Note</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">

                        <div class="form-floating mb-3 col-md-12">
                            <br/>
                            <button class="btn btn-sm btn-danger" type="button" onclick="window.history.back()">Go Back</button>
                            <button class="btn btn-sm btn-primary" style="float:right" type="submit">Register Staff</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Vertical Pills Tabs -->

        </div>
    </div>

</form>
<script src="{% static 'admin_site/scripts/jquery.js' %}"></script>
<script>
    $(document).ready(function(){
      $('#id_department').change(function(){
        position = $('option:selected', this).attr('position')
        $('#id_position').html(position)
        $('#id_level').html("<option value=''>------------</option>")
      })

      $('#state').change(function(){
        lga = $('option:selected', this).attr('lga')
        $('#lga').html(lga)
      })
    })

</script>
{%endblock %}